html{
  max-width: 1000px;
  max-height: 80000px;
  background-color: black;
}
header img{
  margin-left: 250px;
  margin-top: 200px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  width: 500px;
  height: 500px
}
#cover h1 {
  font-family: chunkfive;
  font-size: 120px;
}
#cover h5 {
  margin-top: 40px;
  font-family: chunkfive;
  font-size: 50px;
}
#cover h1, h5 {
  block-size: 240px;
  color: white;
  text-align: center;
  margin-top: 100px;
  
}
header{
  width: 1000px;
  height: 1200px;
}
table {
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  background-color: white;
  margin: 100px;
  width: 800px;
}
.tabb td{
  border-bottom: 7px solid #ddd;
}
th, td {
  padding: 20px;
  text-align: center;
}
.play img{
  width: 100px;
  height: 100px;
}
img {
  width: 300px; /* Ajusta el tamaño de los iconos según sea necesario */
  height: 300px;
}
#cassettecover img {
  margin: 95px;
  width: 150px;
  height: 150px;
  align-content: center;
}
footer a{
  margin-left: 60px;
  align-content: center;
  font-family: chunkfive;
  font-size: 50px;
  color: black;
  text-align: center;
}

